.header{
    position: sticky;
    top: 40px;
}
.header__logo{
    width: 100%;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__promo{
    display: flex;
    align-items:center;
    gap: 30px;
    width: 100%;
    z-index: 1;
}
.image{
    width: 85px;
    height: 88px;
    display: inline-block;
}
.hire{
    display: flex;
    align-items:center;
    gap: 15px;
}
.hire:hover .hire__icon{
    stroke: #1C222A;
    stroke-width: 2px;
    fill: #EDB021;
}
.hire__icon{
    display: inline-block;
    width: 34px;
    height: 36px;
}
.hire__text{
    display: inline-block;
    vertical-align: center;
    border-bottom: 1px solid #dcdcdc;
}
.header__fullscreen{
    position: absolute;
    border-radius: 20px 70% 10px 25%;
    background-color: #EDB021;
    overflow: hidden;
}
.header__fullscreen{
    left: 0;
}
.fullscreen{
    padding-left: 50px;
}
.fullscreen__horizontal{
    width: 150px;
    border-bottom: 6px solid #1C222A;
    margin-top: 100px;
}
.fullscreen__nav-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 15px;
    align-items: center;
    width: 60%;
}
.fullscreen__nav-item:hover{
    background-color: rgba(0,0,0, 0.2);
    transition: 0.3s;
}
.fullscreen__nav-caption{
    padding: 5px;
    font-size: 46px;
    line-height: 60px;
    color: #1C222A;
}
.fullscreen__nav-signature{
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
    color: #6A655D;
}


.contact{
    position: absolute;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 240px;

    z-index:10;
}
.contact__page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C222A;
    border: #EDB021 3px dashed;
}
.contact__image{
    margin-bottom: 50px;
}
.contact__info{

}
.contact__name{
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.075em;
}
.contact__links svg{
    margin-right: 15px;
}
.contact__mail{
    color: #EDB021;
    font-size: 14px;
}
.contact__phone{
    color: #825B01;
    padding-bottom: 15px;
    border-bottom: #825B01 solid 2px;
}
.contact__phone:hover{
    color: #EDB021;
    border-bottom-color: #EDB021;
}
.contact__overlay{
    position:absolute;
    top: -100px;
    left: -100px;
    width:110vw;
    height:110vh;
    background:rgba(0,0,0,.4);
    z-index: 5;
}

@media screen and (max-width:  1600px){
    .header {
        background: #1C222A;
    }
}

@media (max-width: 575px) {
    .header{
        position: static;
        top: 10px;
    }
    .fullscreen{
    padding-left: 0;
    }
    .header__fullscreen {
        border-radius: 5%;
    }
    .fullscreen__nav-signature{
        display: none;
    }
    .fullscreen__nav-caption {
        font-size: 36px;
    }
    .fullscreen__nav-item {
         grid-template-columns: 1fr;
         width: 100%;
     }
    .header__nav{
        gap: 15px;
    }
    .header__promo{
        gap: 5px;
    }
    .contact{
        margin-left: -150px;
        width: 300px;
    }
    .contact__page{
        flex-direction: column;
        justify-content: start;
        text-align: center;
        height: 340px;
    }
    .contact__overlay{
        display: none;
    }
    .contact__image{
        height: 150px;
        margin-bottom: 0;
    }
    .contact__name{
        margin: 0;
        font-size: 18px;
    }
    .contact__mail{
        font-size: 10px;
        padding: 15px;
    }
    .contact__phone{
        font-size: 12px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .contact{
        margin-left: -250px;
        width: 500px;
    }
    .contact__name{
        font-size: 18px;
    }
    .contact__mail{
        font-size: 10px;
    }
    .contact__phone{
        font-size: 12px;
    }
    .fullscreen{
        padding-left: 0;
    }
    .header__fullscreen {
        border-radius: 20px 90% 50px 25%;
    }
    .fullscreen__nav-item {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .fullscreen__nav-caption {
        font-size: 46px;
    }
    .fullscreen__nav-signature{
        display: none;
    }
    .fullscreen{
        padding-left: 0;
    }
    .header__fullscreen {
        border-radius: 20px 90% 50px 25%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

    .fullscreen__nav-item {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .fullscreen__nav-signature {
        display: none;
    }
}